@using System.Security.Claims
@{
    ViewData["Title"] = "My Dodgy Web App";
}
<div class="application-main " data-commit-hovercards-enabled>
    <main>
        <style>
            html {
                scroll-behavior: smooth
            }
        </style>

        @* Overview *@
        <div class="py-1 js-section text-white text-shadow-dark bg-gray-dark">
            <div class="py-1 container-lg p-responsive text-center">
                @*<img class="mr-3" src="/images/enterprise.svg" style="width: 48px;" alt="GitHub Enterprise">*@
                <div class="media-body">
                    <h1 class="h00-mktg my-2 lh-condensed text-white">
                        Stuff for employees
                    </h1>
                </div>
            </div>
        </div>

    </main>

</div>




